.card {
  background-color: var(--bg);
  border-radius: 10px;
  box-shadow: 0px 4px 31px -7px rgba(19, 7, 159, 0.1);

  /* width: 20%; */
  min-width: 160px;
  width: 220px;
  padding: 18px 16px;

  text-align: left;
  
  transition: 0.5s;
}

.card:hover {
  box-shadow: 0px 4px 31px -7px rgba(26, 8, 225, 0.5);

  cursor: pointer;
}

.title {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.date {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ACACAC;
}

.status {
  margin-top: 30px;

  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #1F6AFC;
}

.img {
  width: 100%;
  height: 128px;
  border-radius: 6px;
}