:root {
  --primary: #1F6AFC;
  --bg: #fff;
  --primary-text-color: "000";
}

h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 92.9%;

  text-align: left;
}

.btn {
  width: 160px;

  padding: 8px 14px;

  background: var(--primary);
  color: white;

  border-radius: 11px;

  border: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  /* justify-content: center; */
}

.btn:hover   {
  background-color: #002140;
  cursor: pointer;
}

.btn:active   {
  background-color: white;
  color: var(--primary);
  border: solid 2px var(--primary);
}

.btn-secondary {
  background: #99BCFF;
}

